*, *:before, *:after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}


ul, li {
    list-style: none;
}

html, body {
    color: white;
    font-family: "Gotham", sans-serif;
    line-height: 1.2;
    font-size: 20px;
}

h2 {
    font-size: 37px;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
}

dl, ol, ul {
    margin-bottom: 0;
}


.header {
    background: url("../img/bg1.jpg") no-repeat center/cover fixed;
    height: 100vh; /*возможно надо будет поменять на проценты*/
    color: white;

}

.logo {
    margin: 20px 0 20px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-menu-list, .navbar-social-list {
    display: flex;
}

.header-menu li {
    margin: 0 25px 0 25px;
}


.header-menu a {
    padding: 44px 0;
}

.header-menu li :hover {
    border-bottom: 5px solid #11749e;
    color: white;
}


.home {
    border-top: 1px solid #7b7b7b;
}

.title__home {
    margin: 0;
    margin-top: 275px;
    font-size: 152px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.subtitle__home {
    font-size: 25px;
    font-family: "Gotham", sans-serif;
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.8em;
    margin: 0;
}

.home-btn {
    margin-top: 110px;
    text-align: center;
}

.home-btn__text {
    margin-bottom: 20px;
}

/*плавующая кнопка начало хедер*/
.box {
    margin: auto;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.home__arrow {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

.box a {
    display: inline-block;
}

.box i {
    font-size: 2.5em;
}

/*плавующая кнопка конец хедер*/

/*второе окно начало*/
.feature {
    scroll-behavior: smooth;
    background: #11749e;
    position: relative;
}

.title-common {
    text-transform: uppercase;
    padding-top: 170px;
    padding-bottom: 145px;
    font-weight: bold;
    margin: 0;
    z-index: 1;
    text-align: center;
}

.letter {
    top: 0;
    color: #3c8daf;
    line-height: 0.852;
    position: absolute;
    font-size: 200px;
    text-transform: uppercase;
}

.feature-letter {
    margin-top: 100px;
}

.feature-wrap {
    display: flex;
    justify-content: center;
}

.feature__pic {
    background-color: #3c8daf;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-bottom: 23px;
}

.feature .card-title {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 18px;
}

.feature .cart-text {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
}

.feature img {
    margin: 48px;
}

.feature .card-deck {
    padding-bottom: 130px;
}

/*второе окно конец*/
/*новости начало*/
.news-one {
    background-color: #222222;
    display: flex;
}

.news-one__img, .news__left, .news-second__img {
    width: 50%;
}

.news img {
    height: 445px;
    width: 100%;
    max-width: 800px;
}

.news-one__data-info {
    display: flex;
    margin-bottom: 17px;
    font-size: 13px;
}

.news-one__content {
    margin: 80px 100px 50px 113px;
}

.news-one__data {
    border-right: 1px solid white;
    padding-right: 13px;
    margin-right: 13px;
}

.news-one__title {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.news-one, .news-second p {
    font-size: 15px;
}

.news-one__fist {
    margin-bottom: 35px;
}

.news-second {
    display: flex;
    background-color: #f3f3f3;
    color: rgb(34, 34, 34);
}

.news-second__content {
    margin: 80px 250px 50px 82px;
}

.news-second__data {
    border-right: 1px solid rgb(34, 34, 34);
    padding-right: 13px;
    margin-right: 13px;
}

.news-second__img {
    display: flex;
    justify-content: flex-end;
}

/*новости конец*/
/*влог начало*/
.blog {
    position: relative;
}

.blog__subtitle {
    font-size: 30px;
    color: rgb(34, 34, 34);
    line-height: 1.231;
    margin-bottom: 75px;
    text-align: center;
}

.blog .letter {
    color: rgba(34, 34, 34, 0.18);
}

.blog .title-common {
    color: black;
    padding-bottom: 115px;
}

.blog .card-title {
    font-size: 18px;
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
    margin-top: 45px;
}

.blog .cart-text {
    margin-top: 30px;
    line-height: 1.6;
    text-align: center;
    font-size: 15px;
    color: rgb(34, 34, 34);
}

.blog .card-deck {
    padding-bottom: 110px;
}

/*влог конец*/

/*заметки начало*/
.notes {
    background-color: #11749e;
    padding: 109px 0 150px 0;
}

.notes__item {
    display: flex;
    margin-bottom: 15px;
}

.notes img {
    height: 73px;
    width: auto;
}

.notes p {
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    padding-left: 30px;
}

/*заметки конец*/

/*достижения начало*/
.achievements {
    background: url("../img/bg2.jpg") no-repeat center/cover fixed;
    padding-top: 110px;
    padding-bottom: 95px;
}

.achievements__title {
    margin-bottom: 40px;
    margin-top: 125px;
}

.achievements p {
    font-size: 15px;
    margin-bottom: 70px;
    line-height: 1.6;
}

.achievements li {
    font-size: 15px;
    margin-bottom: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    padding: 10px 10px 10px 22px;
    background-color: #11749e;
}

.achievements__list :nth-child(1) {
    max-width: 370px;
}

.achievements__list :nth-child(2) {
    max-width: 400px;
}

.achievements__list :nth-child(3) {
    max-width: 430px;
}

/*достижения конец*/

/*наша команда начало*/
.our-team {
    position: relative;
    padding-bottom: 150px;
}

.our-team .title-common {
    color: black;
    padding-bottom: 115px;
}

.our-team .letter {
    color: rgba(34, 34, 34, 0.18);
    text-transform: uppercase;
}

.staff__info {
    background-color: white;
    margin: -50px 35px 0 35px;
    position: absolute;
    padding: 22px 30px 0 30px;
}

.our-team .card-title {
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.our-team .cart-text {
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    font-weight: bold;
}

/*наша команда конец*/

/*обратная связь начало*/
.feedback {
    background: url("../img/bg3.jpg") no-repeat center/cover fixed;
    position: relative;
    padding-bottom: 100px;
}

.feedback .letter {
    text-transform: uppercase;
    color: white;
    opacity: 15%;
}

.feedback input {
    border-radius: 0;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 15px;
    line-height: 2.4;
    padding: 20px;
}

.feedback button {
    border-radius: 0;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1;
    width: 230px;
    height: 65px;
    margin: 0 auto 0 auto;
    display: block;
    padding: 0;
    font-weight: bold;
}

.feedback textarea {
    margin-top: 38px;
    margin-bottom: 45px;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-size: 15px;
    line-height: 2.4;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: 0;
    box-shadow: none;
}

/*обратная связь конец*/

/*подвал начало*/
.footer {
    background-color: #222222;
}

.footer__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.footer p{
    background-color: #222222;
    font-size: 13px;
    line-height: 2.769;
}

/*подвал конец*/